@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,700,700i&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Overpass', sans-serif;
	background-color: #3a3a3a;
	background-size: cover;
}

#backbtn{
	margin-top: 20px;
	height: 50px;
	width: 50px;
}

#zapyicon{
	margin-top: 17px;
	margin-bottom: 34px;
	height: 50px;
	width: 45px;
}

form{
	height: 546px;
	margin: 0 41px 0 40px;
}

.form-group{
	margin-bottom: 0;
}

#firstname{
	font-size: 11px;
	font-weight: 200;
	line-height: 40px;
	color: #e1e1e1;
	height: 40px;
	margin-bottom: 7.77px;
}

.userinput{
	font-size: 16px;
	font-weight: 300;
	color: #e1e1e1;
	background-color: #3a3a3a;
	border-radius: 0;
	border-width: 0 0 0.5px 0;
	border-color: #979797;
	border-style: solid;
	padding-left: 0;
}

.userinput:focus{
	font-size: 16px;
	font-weight: normal;
	color: #e1e1e1;
	background-color: #3a3a3a;
	border-radius: 0;
	border-width: 0 0 2px 0;
	border-color: #d65e5e;
	border-style: solid;
	padding-left: 0;
}

#last{
	height: 61px;
}

#phone{
	height: 69px;
}

#gender{
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	color: #e1e1e1;
	height: 40px;
	margin-bottom: 4px;
}

li{
	float: left;
	width: 50%;
	/*position: relative;*/
}

li label, li input{
	display: block;
}

input[type="radio"]{
	display: none;
}

input[type="radio"]:checked+label{
	background-color: #58595b;
}

li label{
	display: block;
	text-align: center;
	font-size: 10px
	font-weight: 200;
	color: #e1e1e1;
	height: 35px;
	background-color: #3a3a3a;
	border-radius: 0;
	border-width: 0.5px;
	border-color: #58595b;
	border-style: solid;
	margin-top: 4px;
	margin-bottom: 9px;
	cursor: pointer;
	padding: 6px 1em;
}

#mbtn, #fbtn{
	font-size: 10px
	font-weight: 200;
	color: #e1e1e1;
	background-color: #3a3a3a;
	border-radius: 0;
	border-width: 0.5px;
	border-color: #58595b;
	border-style: solid;
	height: 35px;
	width: 50%;
	/*width: 138.89px;*/
	margin-top: 4px;
	margin-bottom: 9px;
	float: left;
}

#nation{
	height: 59px;

}

option{

}

#dob{
	height: 65px;
}

#job{
	height: 66px;
}

#company{
	height: 66px;
}

#nextbtn{
	font-size: 14px
	font-weight: normal;
	color: #ffffff;
	background-color: #d65e5e;
	border-radius: 0;
	height: 47px;
	width: 100%;
	/*width: 280px;*/
	margin-top: 40px;
	margin-bottom: 40px;
}