@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,700,700i&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Overpass', sans-serif;
	background-image: url('../img/Group.png');
	background-color: #000000;
	background-size: cover;
}

#zapyicon{
	margin-top: 90px;
	margin-bottom: 67.45px;
	height: 62.09px;
	width: 57px;
}

#reg{
	font-size: 35px;
	font-weight: bold;
	line-height: 23px;
	height: 24px;
	color: #ffffff;
	margin-bottom: 0;
}

svg{
	margin-top: 56.46px;
}

text{
	font-size: 18px;
	font-weight: normal;
	height: 28px;
	width: 164px;
	color: #ffffff;
	text-decoration: none;
}

#scanlink{
	position: absolute;
	top: 407px;
	left: 50%;
}

#innerscan{
	position: relative;
	left: -50%;
}

a{
	font-size: 18px;
	font-weight: normal;
	line-height: 28px;
	height: 28px;
	width: 164px;
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	color: #ffffff;
	text-decoration: none;
}