@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,700,700i&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Overpass', sans-serif;
	background-image: url('../img/Group.png');
	background-color: #000000;
	background-size: cover;
}

#backbtn{
	margin-top: 20px;
	height: 50px;
	width: 50px;
}

#boxes{
	position: absolute;
	top: 47px;
	left: 50%;
}

#innerbox{
	position: relative;
	left: -50%;
}

#box2{
	position: absolute;
	top: 42.5px;
	left: 48.5px;
}

#box3{
	position: absolute;
	top: 243px;
	left: 25px;
	right: 25px;
}

#box4{
	position: absolute;
	top: 356px;
	left: 74px;
	height: 114px;
	width: 135px;
}

svg{
	/*display: block;*/
	box-sizing: border-box;
	font-size: 0;
	margin: 0;
	padding: 0;

	/*position: relative;
	z-index: -1;*/
}

#welcome{
	font-size: 16px;
	font-weight: 200;
	line-height: 25px;
	height: 21px;
	color: #e1e1e1;
}

#fullname{
	font-size: 30px;
	font-weight: bold;
	line-height: 46px;
	height: 38px;
	color: #e1e1e1;
	margin-top: 7px;
}

#phone, #gender, #dob, #job, #company{
	font-size: 16px;
	font-weight: 300;
	line-height: 10px;
	color: #e1e1e1;
}

hr{
	width: 230px;
	border-style: dashed;
	border-color: #e1e1e1;
	border-width: 0.5;
	overflow: hidden;
	margin-top: 16px;
}

#scanbtn{
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	background-color: #d65e5e;
	border-radius: 0;
	height: 50px;
	width: 100%;
	/*width: 280px;*/
	margin-top: 0px;
	margin-bottom: 46px;
}